.listTabs{
    height: 46px;
    display: flex;
    column-gap: 10px;
    padding: 7px 10px;
    border-radius: 10px;
    background: rgb(var(--v-theme-white));
    width: 100%;
	margin: 30px 0 20px;
}

.listTabs .tab{
    padding: 0 25px;
    border-radius: 6px;
    background: rgb(var(--v-theme-bg));
    min-width: fit-content;
    font-size: 15px;
    line-height: 32px;
    flex-grow: 1;
    text-align: center;
}
.listTabs .tab.active{
    background: var(--voilet-gradient);
    color: rgb(var(--v-theme-white));
}

@media(max-width: 576px){
	.listTabs.responsive{
		gap: 10px;
		flex-wrap: wrap;
		height: auto;
		min-height: 46px;
	}
}
