<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158646104622-volb5fltq2jvu1hf2f115cs4aejj4n8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158646104622-volb5fltq2jvu1hf2f115cs4aejj4n8t</string>
	<key>API_KEY</key>
	<string>AIzaSyBWU0kcgBsE9nx151Xj8_V4lDz3FyGhHb0</string>
	<key>GCM_SENDER_ID</key>
	<string>158646104622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.digital</string>
	<key>PROJECT_ID</key>
	<string>hr-hackaton</string>
	<key>STORAGE_BUCKET</key>
	<string>hr-hackaton.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158646104622:ios:211eb5307d66190edc65bf</string>
</dict>
</plist>